body {
  margin: 0;
  background-color: rgba(57, 56, 64, 1);
  color: white;
  font-family: "Jost";
}
/* Navbar section */

nav.navbar {
  background-color: dimgray;
  position: sticky;
  top: 0;
}

nav.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: flex;
}

nav.navbar ul li a {
  display: block;
  color: white;
  padding: 1.25rem 1.75rem;

  text-decoration: none;
}

nav.navbar ul li a:hover {
  color: grey;
}

/* Hero Section */
div.hero {
  padding-top: 0;
  background: #e3e3e3;
  background: linear-gradient(
    180deg,
    rgba(227, 227, 227, 1) 0%,
    rgba(227, 227, 227, 1) 75%,
    rgba(57, 56, 64, 1) 100%
  );

  display: flex;
  align-items: center;
  justify-content: space-between;

  min-height: 30vh;
  width: 90%;
  margin: 2em auto;

  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: white;

  padding: 0;
}

.hero .hero-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
}

div.hero h1 {
  color: black;
  font-size: 6rem;
  margin: 0;
}

div.hero p {
  color: grey;
  margin: 0;
  font-size: 3rem;
}

.hero .hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.hero img {
  max-height: 80vh;
  width: auto;
}

/* Luca Stuff Section */
.luca-stuff {
  width: 90%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.5rem;
}

.luca-stuff > div {
  background-color: rgb(30, 29, 35);
  padding: 1.5rem;
  border-radius: 0.75rem;
  border: 2px solid white;
}

.luca-stuff h2 {
  margin-top: 0;
}

.luca-stuff p {
  line-height: 1.6;
}

.luca-stuff a {
  text-decoration: none;
  color: rgb(103, 100, 117);
}

.luca-stuff a:hover {
  color: rgb(146, 136, 189);
}

/* Portfolio Outline Section */
.portfolio-links h2 {
  text-align: center;
}

div.portfolio-outline {
  width: 90%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1.5rem;
}

div.portfolio-outline .portfolio-item {
  display: block;
  background-color: rgb(30, 29, 35);
  color: white;
  text-decoration: none;
  padding: 1.5rem;
  border-radius: 0.75rem;
  border: 2px solid white;
}

div.portfolio-outline .portfolio-item:hover {
  background-color: #111;
}
